@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

header, footer, article, aside {
    border: 1px solid black;
}

html {
    background-image: url(https://blzmedia-a.akamaihd.net/heroes/media/wallpaper/heroes_1920x1080.jpg);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

h2 {
    font-size: 1.1em;
}

#container {
    width: 800px;
    margin: 0 auto;
    background-color: greenyellow;
    padding: 15px;
    height: 800px;
}
.containercontent{
    background-color: violet;
    }

header {
    height: 50px;
    text-align: center;
    margin-bottom: 1em;
}

header h1 {
    margin-top: 0;
}

#portrait_img {
    width: 200px;
    border: 5px solid lightblue;
}

aside {
    float: left;
    width: 37%;
    padding: 1em 1em 0em 1em;
    height: 500px;
    margin-bottom: 1em;
}

article {
    float: right;
    width: 80%;
    height: 500px;
    padding: 1em 1em 0em 1em;
    margin-bottom: 1em;
    overflow: auto;
}

footer {
    text-align: center;
    clear: both;
}





